{% extends "./base.html" %} 

{% block content %}
	<div class="container">
		{% if len_associated_unis %}
			<p> Your account is not associated with any University. Please create one, or ask your university staff to get invited.</p>
		
		{% else %}
			<p> You are associated with the Following Organizations now </p>
			<ul>
			{% for au in associated_unis %}
				<li><a href="{% url 'organization_detail' au.id %}">{{au}} </a> </li>

			{% endfor %}
			</ul>

		{% endif %}

			<h4> Existing Universities </h4>

			<p> If you do not see your organization here, you can create a new organization </p>
			
			<ul>
			{% for u in universities %}
				<li>{{u}}</li>
			{% endfor %}
			</ul>

		

		<a  href="/add_organization/" class="btn btn-primary">Add your University</a>

	</div>

{% endblock %}