{% extends "./base.html" %} 

{% block content %}

{% load humanize %}
	<div class="container">

		<nav aria-label="breadcrumb" class="mt-5 mb-5">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">List of Organizations</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{organization}}</li>
		  </ol>
		</nav>


		<h1>{{organization}}</h1>

		<!-- Tabbed Menu -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
			    <a class="nav-link active" id="alumni-tab" data-toggle="tab" href="#alumni" role="tab" aria-controls="alumni" aria-selected="true">Alumni List Management</a>
			</li>
		    <li class="nav-item">
		        <a class="nav-link" id="owners-tab" data-toggle="tab" href="#owners" role="tab" aria-controls="owners" aria-selected="false">User Management</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" id="organization_details-tab" data-toggle="tab" href="#organization_details" role="tab" aria-controls="organization_details" aria-selected="false">Organization Management</a>
		    </li>
		</ul>



		<!-- content of the Tabbed Menu - managed by IDs. -->
		<div class="tab-content" id="myTabContent">
		    <div class="tab-pane fade show active" id="alumni" role="tabpanel" aria-labelledby="alumni-tab">
		    	<h2> Alumni </h2>
				<div class="row">

					{% for i in alumni %}
						{% include "emaillist/alumni_details_partial.html" with alumni=i %}
					{% endfor %}
				</div>

				<a class="btn btn-outline-primary" href="{% url 'alumni_add' organization.id  %}">Add Alumni</a>




				<!-- <button data-toggle="collapse" data-target="#demo">Collapsible</button> -->

				<div id="add_alumni" class="collapse">
				<p>Add a New Alumni Here. Form Goes here.</p>
					<form>

					</form>
				</div>

		    </div>



		    <div class="tab-pane fade" id="owners" role="tabpanel" aria-labelledby="owners-tab">

				<h2> Owners </h2>
				<p> Owners have the following rights:</p>
				<ul>
					<li>Add and Remove other owners</li>
					<li>Edit the name of the university</li>
					<li>Add and Remove Alumni Information </li>
					<li>Delete the organization with all associated alumni data </li>
				</ul> 
				
				<p> Current Owners </p>
				<ul>
					{% for i in owners %}
						<li>{{i}}</li>
					{% endfor %}
						<li><a href="">Add New Owner</a></li>
				</ul>

				<h2> Members </h2>
				<p> Members have the following access </p>
				<ul>
					<li>Add and remove New Alumni </li>
					<li>Add other members </li>
				</ul>

				<p> Current Members </p>
				<ul>
					{% for i in staffs %}
						<li>{{i}}</li>
					{% endfor %}
						<li><a href="">Add New Member</a></li>
				</ul>


		    </div>


		    <div class="tab-pane fade" id="organization_details" role="tabpanel" aria-labelledby="organization_details-tab">
		    	<p> Please note that any actions performed here are unreversible </p>
				<a class="btn btn-outline-danger" href="{% url 'edit_organization' organization.id %}">Edit</a>
				<a class="btn btn-outline-danger" href="{% url 'delete_organization' organization.id %}">Delete</a>
		    </div>
		</div>




		





	</div>

{% endblock %}